web/schemas/command.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Схема входных данных (запроса) -->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="DocumentListRequest">
        <xsd:complexType>
            <xsd:sequence>

                <xsd:element name = 'class'>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name='keyWord' type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>